<%= form_for(animal) do |f| %>
	<% if animal.errors.any? %>
	<%= animal.errors.count%>errors
	  <% animal.errors.full_messages.each do |msg| %>
	  	<%= msg %>
	  <% end %>
	<% end %>

	<div class="field row">
		<%= f.label :新規保護動物 %>
		<%= f.text_field :name, class: "col-xs-12 animal_name", value: '' %>
	</div>

	<div class="field row">
		<%= f.label :内容 %>
		<%= f.text_area :body, class: "col-xs-12 animal_body", value: '' %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>