<div class="row">
<div class="col-md-6 col-md-offset-3">

<h1>Editing animal</h1>

<%= form_for(@animal) do |f| %>
    	<% if @animal.errors.any? %>
		<%= @animal.errors.count%>errors
		  <% @animal.errors.full_messages.each do |msg| %>
		  	<%= msg %>
		  <% end %>
		<% end %>

	<div class="field row">
		<%= f.label :Name %>
		<%= f.text_field :name, class: "col-xs-12 animal_title" %>
	</div>

	<div class="field row">
		<%= f.label :Opinion %>
		<%= f.text_area :body, class: "col-xs-12 animal_body" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>
<%= link_to "Show", @animal, class: "animal_#{@animal.id}" %>
<%= link_to "Back", animals_path, class: "back" %>

</div>
<div class="col-md-3"></div>

</div>