<div class="row">
	<div class="col-xs-12">
		<h2>保護動物詳細</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@animal.user) do %>
						<%= attachment_image_tag(@animal.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @animal.user.name %>
						<% end %>
					</td>
					<td><%= link_to @animal.name, @animal %></td>
					<td><%= @animal.body %></td>
					<% if @animal.user == current_user %>

					<td><%= link_to "Edit",edit_animal_path(@animal), class: "btn-sm btn-success edit_animal_#{@animal.id}" %></td>
					<td><%= link_to "Destroy",@animal, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_animal_#{@animal.id}" %></td>
					<% end %>
				</tr>
		</table>
	</div>
</div>

